.common-grid {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.about {
  position: relative;
  overflow-y: hidden;

  .clouds {
    &-1 {
      top: 5px;
      left: 50%;
      transform: translate(-50%);
    }
    &-2 {
      top: 120px;
      left: 50%;
      transform: translate(10%);
    }
  }

  .top-story {
    .post-img {
      max-width: 400px;
    }
  }

  .cloud {
    top: -10%;
    right: -20%;
    transform: unset;
  }

  &-partners {
    @extend .common-grid;
    .announcements-top-stories-list {
      max-width: 980px;
      margin-top: 120px;
    }
    &-bottom-text {
      max-width: 500;
    }
    &-logo {
      width: 390px;
      position: relative;
      right: -100px;
      top: -50px;
      object-fit: contain;
    }

    margin-top: 180px;
    &-header {
      display: flex;

      justify-content: space-between;
      margin-bottom: 120px;
      &-left {
        display: flex;
        flex-direction: column;
        gap: 110px;
      }

      h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 62px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 150px;
      padding-top: 100px;
    }
  }

  &-partner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 70px;
    &-logo {
      width: 120px;
      img {
        width: 100%;
      }
    }

    &-right {
      flex: 1;
      h3 {
        @extend .medium-text;
        margin-bottom: 24px;
      }

      &-link {
        margin-top: 50px;
        .link {
          max-width: 355px;
          width: 100%;
        }
      }
    }
  }

  &-top-section {
    display: flex;
    flex-direction: column;
    strong {
      color: $yellow;
    }
    &-wave {
      width: 100%;
      margin-top: 150px;
    }
    &-logo {
      width: 110px;
      height: 135px;
      object-fit: contain;
      margin-top: 150px;
      margin-bottom: 55px;
    }
    .socials {
      opacity: 0.7;
      gap: 15px;
      margin-top: 60px;
      a {
        width: 38px;
        height: 38px;
      }
    }
  }
}

@media only screen and (min-width: $mobile) {
  .about {
    .secondary-grid {
      max-width: 900px;
    }
    .common-header {
      margin-top: 100px;
      margin-bottom: 80px;
      &-bg {
        width: calc(100% + 300px);
        height: 330px;
        object-fit: cover;
        object-position: right;
        right: 0px;
        top: 50%;
        transform: translate(0, -50%);
      }
      &-asset {
        margin-right: 100px;
        width: 487px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about-partners {
    &-logo {
      right: 0px;
      width: 330px;
    }
    &-header {
      &-left {
        max-width: 420px;
      }
      h4 {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .about {
    &-partner {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &-logo {
        width: 100px;
      }
      &-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
        &-link {
          display: flex;
          justify-content: center;
          p {
            font-size: 15px;
          }
        }
      }
    }
    &-partners {
      text-align: center;
      margin-top: 100px;
      &-header {
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
        &-left {
          gap: 50px;
          max-width: unset;
          order: 2;
          margin-top: 50px;
        }
      }
      &-logo {
        top: unset;
        right: unset;
        order: 1;
        width: 100%;
        max-width: 350px;
      }
      &-list {
      }
    }
    &-top {
      &-section {
        &-wave {
          width: 100%;
          max-width: unset;
          display: none;
        }
      }
    }
  }
}
