.ton {
  .clouds {
    &-2 {
      display: none;
    }
    &-1 {
      top: 50px;
    }
  }
  &-first-section {
    display: flex;
    flex-direction: column;
  }
  &-sticky {
    top: 0px;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    height: 100%;
  }
  &-flex {
    width: 100%;
    margin-top: 250px;
    position: relative;
  }
  .anchor {
    top: -15vh;
  }

  .side-menu {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 110px;
    transform: unset;
    align-self: flex-start;
    left: 30px;
  }

  .ton-first-section {
    .ton-section-title {
      display: none;
    }
  }
  .swiper {
    padding-bottom: 35px;
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
  }
  .swiper-pagination {
    justify-content: flex-start;
    display: flex;
    gap: 42px;
    z-index: 99;
    position: static;
    &-bullet {
      margin: 0px;
      border: 1px solid $blue;
      width: 10px;
      height: 10px;
      opacity: 1;
      &-active {
        background: $blue;
      }
    }
  }

  &-medium-text {
    font-weight: 700;
    font-size: 30px;
  }
  &-belief {
    position: relative;
    display: flex;
    flex-direction: column;
    > h4 {
      display: block !important;
      @extend .ton-section-title;
    }
    &-link {
      text-decoration: none;
      letter-spacing: 0.315em;
      text-transform: uppercase;
      font-family: $text-font;
      margin-top: 26px;
      display: flex;
      margin-left: auto;
      font-size: 16px;
      display: none;
      /* Yellow */

      color: $yellow;
    }

    &-list {
      padding-top: 0px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0px;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-item {
      display: flex;
      text-align: left;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;

      text-decoration: none;
      img {
        height: 60px;
        height: 60px;
        object-fit: contain;
      }
      h4 {
        @extend .text;
        font-family: $text-font;
        font-weight: 300;
        margin-bottom: 0px;
      }
    }
  }
  &-projects {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .ton-project {
      border: 1px solid #b4add9;
      height: fit-content;
      align-self: stretch;
      display: flex;
      position: relative;
      min-height: 277px;
      &-content {
        display: flex;
        flex-direction: column;
        padding: 20px 100px 20px calc(361px + 4px);
        flex: 1;
        &-title {
          @extend .medium-text;
          font-family: $text-font;
          margin-bottom: 20px;
        }
        &-body {
          max-width: 700px;
          p {
            font-weight: 300;
            line-height: 145.8%;
          }
        }
        .socials {
          opacity: 0.7;
          margin-top: 45px;
          a {
            width: 27px;
            height: 27px;
          }
        }
      }

      &-img {
        padding: 15px;
        width: 361px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0px;
        top: 0px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &-decetralized {
    &-subtitle {
      font-weight: 700;
      font-size: 22px;
      color: $yellow;
      margin-bottom: 40px;
    }
    .ton-section-children {
      max-width: 950px;
    }

    &-bottom-text {
      max-width: 837px;
      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        margin-top: 40px;
      }
    }
    &-table {
      border: 1px solid #d9d9d9;
      header {
        padding-left: 28px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        font-family: $text-font;
        height: 55px;
        color: $yellow;
        background: radial-gradient(
          73.06% 73.06% at 50% 50%,
          rgba(255, 255, 255, 0.21) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        border-bottom: 1px solid #d9d9d9;
      }
      &-body {
        padding: 28px 50px 50px 28px;
        .text {
          // font-size: 14px;
        }
        strong {
          font-family: $main-font;
          font-weight: 500;
          color: $blue;
        }
        li {
          font-family: $text-font;
          margin-bottom: 15px;
          list-style-type: disc;
          margin-left: 15px;
          font-weight: 300;
          @extend .text;
        }
        ul {
          margin-bottom: 30px;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-weight: 300;
          font-size: 14px;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .common-header {
    margin-bottom: 0px;
    &-body {
      max-width: 700px;
    }

    .text {
      @extend .text-link-arrow;
    }

    &-asset {
      width: 385px;
    }
    &-bg {
      width: calc(100% + 300px);
      left: -50px;
      top: 230px;
    }
    h3 {
      color: $pink;
      font-weight: 700;
      font-size: 22px;
      line-height: 41px;
    }
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 64px;
      color: #6ecce8;
    }
    a {
      font-weight: 700;
      font-size: 36px;
      line-height: 64px;
      font-family: $main-font;
      color: white;
    }
  }
  .banner {
    padding: 20px 30px;
    min-height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .text {
      @extend .medium-text;
      line-height: 30px;
      font-family: $main-font;
      a {
        color: $blue;
      }
    }
  }
  &-partners {
    margin-top: 100px;
    .ton-small-title {
      font-size: 30px;
      font-weight: 700;
    }

    &-list {
      margin-left: auto;
      display: flex;
      flex: 1;
      gap: 20px;
      margin-top: 45px;
    }

    .ton-partner {
      background: radial-gradient(
        73.06% 73.06% at 50% 50%,
        rgba(255, 255, 255, 0.21) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      position: relative;
      width: 33%;
      max-width: 270px;
      padding: 20px;
      border: 1px solid #b4add9;
      .text {
        font-weight: 500;
      }
      img {
        object-fit: contain;
        width: 90px;
        height: 90px;
      }
      a {
        text-decoration: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
      }
    }
  }
  &-sections {
    display: flex;
    position: relative;
    flex-direction: column;
    @extend .main-grid;
    gap: 0px;
  }
  &-mission {
    &-bottom-text {
      @extend .medium-text;
      margin-top: 50px;
      h5 {
        color: $blue;
      }
    }
    strong {
      color: $yellow;
      font-weight: 700 !important;
    }
    &-top-text {
      max-width: 900px;
    }
    &-flex {
      width: fit-content;
      position: relative;
      display: flex;
      align-items: center;
      background: radial-gradient(
        73.06% 73.06% at 50% 50%,
        rgba(255, 255, 255, 0.21) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      margin-top: 50px;
      border: 1px solid #d9d9d9;
      &::after {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 0px;
        height: 100%;
        width: 1px;
        background: white;
        content: "";
      }
    }
  }
  &-why {
    &-list {
      margin-top: 40px;
      display: flex;

      gap: 20px;
      &-item {
        width: 33%;
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 20px 20px 5px 20px;
        flex-direction: column;
        max-width: 310px;

        &-body {
          max-width: 940px;

          .text {
            font-size: 14px;
            text-align: left;
            margin-bottom: 15px;
            &:nth-child(2) {
              font-size: 13px;
              opacity: 0.5;
            }
          }
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    &-top-text {
      max-width: 900px;
      .text {
      }
    }
    &-bottom-text {
      margin-top: 50px;
      .text {
        @extend .medium-text;
        color: $blue;
      }
    }
  }
  &-table {
    width: 50%;
    &-body {
      padding-left: 0px;
      padding-right: 0px;
    }
    &-header {
      display: flex;
      margin-bottom: 0px;
      align-items: center;
      gap: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      width: 100%;
      border-bottom: 1px solid #d9d9d9;
      padding-left: 20px;
      @extend .text;
      font-weight: 500;
      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
      }
    }
    &-body {
      padding-top: 0px;
      font-family: $text-font;
      font-weight: 300;
      padding-bottom: 0px;
      li {
        padding-left: 20px;
        padding-right: 50px;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        white-space: nowrap;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: $text-font;
        line-height: 24px;
        font-size: 14px;
        text-align: left;
        opacity: 0.5;
        &:last-child {
          margin-bottom: 0px;
          border: unset;
        }
        &::before {
          display: none;
          position: absolute;
          left: 0px;
          top: 11px;
          width: 20px;
          height: 0px;
          border: 1px dashed white;
          content: "";
        }
      }
    }
  }

  .ton-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-title {
      @extend .title;
      margin-bottom: 45px;
    }
    &-line {
      margin-top: 150px;
      margin-bottom: 150px;
      width: 70%;
      margin-left: auto;
      object-fit: cover;
    }
    &:last-child {
      .ton-section-line {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 1000px) {
  .ton {
    .common-header {
      margin-top: 80px;
      margin-bottom: 70px;
    }
  }
}
@media only screen and (max-width: 1690px) {
  .ton {
    &-sections {
      padding-left: 100px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .ton {
    &-sections {
      padding-left: 200px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .ton {
    .common-header {
      margin-bottom: 60px;
      h2 {
        font-size: 32px;
        line-height: 58px;
      }
      &-bg {
        top: 140px;
      }
      &-asset {
        width: 340px;
      }
    }
    .ton-section {
      &-title {
        font-size: 50px;
        line-height: 60px;
      }
    }
    &-safety {
      &-list {
        &-item {
          padding: 20px 20px;
        }
      }
    }
    &-projects {
      .ton-project {
        &-img {
          img {
          }
        }
        .socials {
          margin-top: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .ton {
    &-sections {
      padding-left: unset;
    }
    &-belief {
      &-list {
        gap: 40px;
      }
      &-item {
        width: calc(50% - 20px);
      }
    }
    &-partners {
      &-list {
        flex-direction: column;
      }
      .ton-partner {
        width: 100%;
        max-width: unset;
      }
    }
    &-mission {
      &-flex {
        gap: 40px;
        flex-direction: column;
        width: 100%;
        border: unset;
        background: transparent;
        .ton-table {
          border: 1px solid #d9d9d9;
          background: radial-gradient(
            73.06% 73.06% at 50% 50%,
            rgba(255, 255, 255, 0.21) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          width: 100%;
          &:last-child {
          }
          &-body {
            li {
              white-space: unset;
            }
          }
        }
        &::after {
          display: none;
        }
      }
    }

    &-why {
      &-list {
        flex-direction: column;
        &-item {
          width: 100%;
          max-width: unset;
        }
      }
    }
    .swiper-pagination {
      justify-content: center;
    }

    &-decetralized {
      &-table {
        &-body {
          padding: 20px;
        }
        header {
          padding-left: 20px;
          font-size: 16px;
        }
      }
    }

    &-safety {
    }

    &-projects {
      .ton-project {
        flex-direction: column;
        padding: 20px;
        &-img {
          width: 100%;
          position: static;
          padding: 0px;
        }
        &-content {
          padding: 0px;
          padding-top: 30px;
          width: 100%;
          .socials {
            a {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
    &-sticky {
      display: none;
    }
    &-flex {
      margin-top: 100px;
    }
    .ton-section {
      &-line {
        margin-top: 70px;
        margin-bottom: 70px;
        width: 100%;
      }
      &-title {
        font-size: 28px !important;
        line-height: 40px;
      }
    }
    .common-header {
      &-asset {
        width: 60%;
      }
      h2 {
        font-size: 25px;
        line-height: 36px;
      }
      a {
        font-size: 25px;
        &::after {
          top: 10px !important;
        }
      }
    }
  }
}
