.notifications {
  .hero {
    display: flex;
    @extend .grid;

    justify-content: space-between;

    &-image {
      width: 670px;
      height: auto;
      object-fit: contain;
      position: relative;
    }

    &-description {
      padding-top: 65px;
      h1 {
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        margin-bottom: 40px;
        max-width: 760px;
        color: $notifications-main-text-color;
      }

      & > p {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 41px;
        color: $notifications-main-text-color;
        line-height: 40px;
        letter-spacing: -0.4px;
        max-width: 630px;
      }

      h5 {
        font-size: 20px;
        line-height: 40px;
        font-weight: normal;
        color: $notifications-main-text-color;
        max-width: 640px;
        margin-bottom: 21px;

        strong {
          color: #e64ecf;
          opacity: 0.9;
          font-weight: 400;
        }
      }

      a {
        display: flex;
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;
        position: relative;
        padding-left: 60px;

        margin-bottom: 13px;
        color: $notifications-main-text-color;

        &:last-child {
          margin-bottom: 0px;
        }

        &::before {
          position: absolute;
          content: "";
          background-image: url("/assets/images/notifications-protocol/right-arrow.svg");
          left: 0px;
          top: 50%;
          transform: translate(0, -50%);
          width: 34px;
          height: 34px;
          background-size: contain;
        }
      }
    }
  }

  .projects {
    @extend .grid;
    margin-top: 192px;

    &-title {
      text-align: center;

      h3 {
        color: $notifications-main-text-color;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
      }
    }

    &-list {
      display: flex;
      justify-content: center;
      gap: 40px;
      padding-top: 50px;
    }

    .project {
      border: 1px solid #cde4f9;
      border-radius: 24px;
      padding: 24px;
      position: relative;
      min-height: 200px;
      width: 300px;
      display: flex;
      flex-direction: column;

      &-title {
        color: #0f1c49;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
      }

      &-image {
        position: absolute;
        width: 80px;
        height: 80px;
        right: 20px;
        bottom: 23px;
      }

      &-body {
        max-width: 194px;

        p {
          color: $notifications-main-text-color;
          font-size: 16px;
          line-height: 24px;
          opacity: 0.6;
          letter-spacing: 0.0052em;
        }
      }

      &-link {
        margin-top: auto;
        text-decoration: none;
        color: #4f86ff;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.0052em;
        position: relative;
        width: fit-content;

        &::after {
          position: absolute;
          content: "";
          right: -20px;
          top: 50%;
          width: 8px;
          height: 8px;
          border-right: 1px solid #4f86ff;
          border-bottom: 1px solid #4f86ff;
          transform: rotate(-45deg) translate(0, -50%);
        }
      }
    }
  }

  .contribute {
    width: 100%;
    background: #00063e;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 126px 0px 127px 0px;

    &-bottom {
      @extend .grid;
      margin-top: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-buttons {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      h5 {
        font-weight: bold;
        font-size: 28px;
        color: white;
        margin-bottom: 22px;
        text-align: center;
      }
    }

    &-title {
      @extend .grid;
      font-weight: 600;
      font-size: 28px;
      color: white;
      margin-bottom: 64px;
      letter-spacing: -0.4px;
      text-align: center;
    }

    &-example {
      @extend .grid;
      display: flex;
      border-radius: 20px;
      background: white;
      max-width: 1550px;
      overflow: hidden;
      padding-left: 26px 53px 26px 52px;
      border: 1px solid #b5b7c9;
      flex: 1;

      &-body {
        padding: 55px;
        flex: 1;

        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          margin-bottom: 32px;
        }

        h4 {
          color: #0f1c49;
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 47px;
        }

        p {
          opacity: 0.6;
          color: $notifications-main-text-color;
          font-weight: 500;
          font-size: 20px;
          line-height: 33px;
          max-width: 425px;
        }
      }

      &-hero {
        border-left: 1px solid #b5b7c9;
        width: 960px;
        object-fit: cover;
        background: #f6f8fa;
        padding: 20px 30px 20px 48px;

        img {
          width: 100%;
        }
      }
    }
  }

  .integrations {
    @extend .grid;
    margin-top: 90px;

    &-title {
      text-align: center;
      color: $notifications-main-text-color;
      font-weight: 600;
      font-size: 28px;
      line-height: 40px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
      padding-top: 50px;

      .integration {
        width: calc(20% - 19px);
        height: 295px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f4f4f4;

        padding: 43px 0px 37px 0px;

        &-link {
          margin-top: auto;

          img {
            width: 31px;
            height: 31px;
            object-fit: contain;
          }
        }

        &-image {
          width: 80px;
          height: 80px;
          object-fit: contain;
          margin-bottom: 24px;
        }

        h5 {
          color: $notifications-main-text-color;
          font-weight: 600;
          font-size: 24px;
          margin-bottom: 18px;
        }
      }

      #integration-pr {
        background: #311f48;
        justify-content: center;
        display: flex;
        padding: 0px;

        .link-button {
          margin-top: 30px;
        }

        & > p {
          font-weight: 600;
          font-size: 24px;
          line-height: 40px;
          color: white;
        }
      }
    }
  }

  .alerts {
    margin-top: 211px;
    background: #f9f3ff;
    padding-top: 95px;
    padding-bottom: 70px;

    &-grid {
      justify-content: flex-start;
      display: flex;
      @extend .grid;
    }

    &-right {
      width: 480px;
      position: relative;
      top: -25px;
      right: 100px;

      &-hero {
        width: 100%;
        z-index: 0;
      }

      &-logo {
        position: absolute;
        width: 50px;
        height: 50px;
        object-fit: contain;
        z-index: 10;
      }

      #alerts-logo-1 {
        left: 10px;
        top: 73px;
      }

      #alerts-logo-2 {
        right: 105px;
        top: -15px;
      }

      #alerts-logo-3 {
        right: 10px;
        bottom: 80px;
      }

      #alerts-logo-4 {
        left: 50px;
        bottom: 13px;
      }
    }

    &-description {
      padding-right: 130px;
      flex: 1;
      &-logo {
        height: 32px;
      }

      h3 {
        color: $notifications-main-text-color;
        font-weight: 600;
        font-size: 44px;
        line-height: 40px;
        margin-bottom: 51px;
        margin-top: 30px;
        letter-spacing: -0.4px;
      }

      a {
        text-decoration: underline;
        font-weight: 700;
      }

      &-body {
        p {
          font-size: 20px;
          line-height: 40px;
          color: $notifications-main-text-color;
          max-width: 691px;
          letter-spacing: -0.4px;
        }
      }

      .link-button {
        margin-top: 30px;
      }
    }
  }

  .apps {
    @extend .grid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;

    &-title {
      font-weight: 600;
      font-size: 44px;
      line-height: 40px;
      color: $notifications-main-text-color;
      margin-bottom: 40px;
      letter-spacing: -0.4px;
    }

    &-body {
      max-width: 700px;

      p {
        font-size: 20px;
        line-height: 40px;
        color: $notifications-main-text-color;
        letter-spacing: -0.4px;
      }
    }

    &-links {
      display: flex;
      justify-content: center;
      padding-top: 51px;

      a {
        margin-right: 20px;
        height: 50px;

        img {
          width: 100%;
          object-fit: contain;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
